<!DOCTYPE html>
<html>
<head>
	{{ helper_Html_charset() }}

	<title>
		{{ __('myTwigExample') }}
		{{ fetch('title') }}
	</title>

	{{ helper_Html_meta('icon') }}

	{{ helper_Html_script('app') }}

	{{ fetch('meta') }}
	{{ fetch('css') }}
	{{ fetch('script') }}
</head>
<body>
<header>
	{{ fetch('header') }}
</header>

{{ helper_Flash_render() }}

<section>

	<h1>{{ fetch('title') }}</h1>

	{{ fetch('content') }}
</section>

<footer>
	{{ fetch('footer') }}
</footer>
</body>
</html>
