<!DOCTYPE html>
<html>
<head>
	{{ helper_Html_charset()|raw }}

	<title>
		{{ __('myTwigExample') }}
		{{ _view.fetch('title')|raw }}
	</title>

	{{ helper_Html_meta('icon')|raw }}

	{{ helper_Html_script('app')|raw }}

	{{ _view.fetch('meta')|raw }}
	{{ _view.fetch('css')|raw }}
	{{ _view.fetch('script')|raw }}
</head>
<body>
<header>
	{{ _view.fetch('header')|raw }}
</header>

{{ helper_Flash_render()|raw }}

<section>

	<h1>{{ _view.fetch('title')|raw }}</h1>

	{{ _view.fetch('content')|raw }}
</section>

<footer>
	{{ _view.fetch('footer')|raw }}
</footer>
</body>
</html>
